.card{
    border-radius: 10px;
    background-color: #D6CFC7;
    text-align:center;
    width:20%;
    padding:15px;
    margin-top:15px;
    margin-bottom:15px;
}


#listingSection{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}